<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body id="page-top">
        {{>nav}}
            <section class="page-section mt-5" >
                <div class="container">
                    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
                        Atsiliepimai
                    </h2>
                    <div class="divider-custom">
                        <div class="divider-custom-line"></div>
                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                        <div class="divider-custom-line"></div>
                    </div>
                </div>
                 <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        {{#each feedbacks}}
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <p class="card-text">{{text}}</p>
                            </div>
                        </div>
                        {{~/each}} 
                        <hr>
                        <form method="POST" action="/atsiliepimai">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Jūsų vardas</label>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="text" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Jūsų atsiliepimas</label>
                            </div>
                            
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Išsiųsti</button>
                        </form>
                    </div>
                </div>    


            </section>
        {{>footer}}
    </body>
</html>
