<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>nav}}
    <div class="container workshop-img">
        <div class="row">
            <div class="col-6">
        <img src="assets/img/workshop.jpg" alt="">
        </div>
        <div class="col-6">
        <img src="assets/img/workshop2.jpg" alt="">
        </div>
        </div>
        <div class="row mt-5">
                <div class="col-6">
        <img src="assets/img/workshop3.jpg" alt="">
        </div>
            <div class="col-6">
        <img src="assets/img/workshop4.jpg" alt="">
        </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>